* {
    border: red, 1px, solid;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.header{
    width: 100%;
    background-color: #1F2937;
}

.head-left, .head-right{
    display: flex;
    align-items: center;
    gap: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
} 

body {
    width: 80%;
    margin: auto;
}